h1, h2, h3, h4, h5, h6{
    color: rgb(240, 188, 91);
    text-align: center;
}

p{
    color: rgb(216, 79, 0);
    text-align: center;
}

.main-header{
    text-align: center;
    background-color: rgb(12, 12, 12);
    color: floralwhite;
    padding: 10px;
}

main footer{
    text-align: center;
    font-size: 18px;
    color: sandybrown;
}

header{
  text-align: center;
  color: rgb(212, 149, 31);
  background-color: rgb(0, 0, 0);
  padding: 2px;
}

html{
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    align-content: center;
}

.centerimg {
    width:80%; 
    height:400;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


header::after {
    content: '';
    display: table;
    clear: both;
}



nav ul {
    margin: 0%;
    padding: 0;
    list-style: none;
}

nav li {
 display: inline-block; 
 margin-left: 70px;  
 padding-top: 23px;
}

nav a {
   color: rgb(243, 138, 0); 
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px;
}

nav :hover {
    color: rgb(255, 0, 0);
}

nav a::before {
content '';  
display: block;
height: 5px;
width: 100%;
background-color: chocolate;
}

.wrapper {
    width: 100%;
}